* {
  box-sizing: border-box;
  color: white;
  font-family: "Roboto";
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
body {
  background-color: rgb(24, 26, 27);
  min-height: calc(100vh - 16px);
}

#servers {
  width: 550px;
  padding: 20px;
}

.servers-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.servers-header > button {
  margin-left: auto;
  width: 100px;
  background-color: rgb(21, 23, 24);
  height: 35px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px rgb(50, 131, 153) solid;
  color: rgb(50, 131, 153);
}

#servers > div:not(.servers-header) {
  width: 100%;
  height: 100px;
  background-color: rgb(21, 23, 24);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}

#servers > div > img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

#servers .server-data > p {
  margin-top: -5px;
  color: rgb(190, 190, 190);
}

#servers .server-status {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

#servers .server-status > div {
  width: 10px;
  height: 10px;
  margin-left: auto;
  border-radius: 50%;
}

#servers .server-status > svg {
  margin-top: auto;
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#servers .server-status > svg:hover {
  transform: rotate(90deg);
}

#darkener {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 50%;
  background-color: black;
}

#std-menu {
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: rgb(24, 26, 27);
  border-radius: 5px;
}

#std-menu h1 {
  margin-bottom: 5px;
}

#std-menu p {
  color: rgb(179, 179, 179);
}

#std-menu > form {
  position: relative;
}

#std-menu input,
#std-menu select,
#std-menu button {
  height: 34px;
  outline: none;
  border: 1px black solid;
  background-color: rgb(39, 42, 44);
  border-radius: 5px;
  width: 210px;
  margin-bottom: 10px;
  padding: 6px;
}

#std-menu > form > input:not(.small-input) {
  width: 100%;
  padding-left: 8px;
}

#std-menu > form > div {
  display: flex;
  gap: 40px;
}

#std-menu button {
  float: right;
  background-color: rgb(50, 131, 153);
}

/*----------------------------*/
/*---------- server ----------*/
/*----------------------------*/

nav {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: rgb(21, 23, 24);
  border-radius: 5px;
}

nav > svg {
  width: 40px;
  height: auto;
  cursor: pointer;
}

#nav-title {
  margin-left: -10px;
}

#nav-title > h1 {
  font-size: 2rem;
  cursor: pointer;
}

#nav-title > p {
  margin-top: -5px;
  color: rgb(179, 179, 179);
  font-size: 0.9rem;
}

#nav-pages {
  display: flex;
  gap: 20px;
  margin-right: 10px;
  margin-left: auto;
}

#nav-pages > a {
  text-decoration: none;
}

main#server-overview-page {
  padding: 20px;
  min-height: calc(100vh - 16px - 62px);
  display: grid;
  grid-template-columns: 500px 1fr 1fr 1fr;
  grid-template-rows: 50px 450px 200px;
  grid-template-areas:
    "overview-onn overview-info overview-console overview-console"
    "overview-players overview-info overview-console overview-console"
    "overview-players overview-cpu overview-ram overview-storage";
}

#overview-onn {
  padding: 10px;
  grid-area: overview-onn;
}

#overview-onn button {
  width: 100px;
  background-color: rgb(21, 23, 24);
  height: 35px;
  margin-right: 10px;
  border-radius: 5px;
}

#overview-onn button:disabled {
  cursor: not-allowed;
  opacity: 65%;
}

#overview-restart-btn {
  border: 2px rgb(50, 131, 153) solid;
  color: rgb(50, 131, 153);
}

#overview-stop-btn {
  border: 2px rgb(183, 76, 80) solid;
  color: rgb(183, 76, 80);
}

#overview-start-btn {
  border: 2px rgb(92, 211, 36) solid;
  color: rgb(92, 211, 36);
}

#overview-players {
  grid-area: overview-players;
}

.players-container {
  margin: 10px;
  padding: 10px;
  background-color: rgb(21, 23, 24);
  border-radius: 10px;
}

.players-container > div:nth-child(1) {
  display: flex;
}

.players-container > div > svg {
  margin-left: auto;
  height: 30px;
  width: auto;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.players-container > div > svg:hover {
  transform: rotate(90deg);
}

.players-container > div:nth-child(2) {
  --grid-layout-gap: 1rem;
  --grid-column-count: 99;
  --grid-item--min-width: 250px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}

.players-container > div > div {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgb(15, 16, 17);
  border-radius: 5px;
  margin-top: 15px;
}

.players-container > div > div > img {
  border-radius: 5px;
  margin-right: 10px;
}

.players-container > div > div > div > p:nth-child(1) {
  color: rgb(179, 179, 179);
}

.players-container > div > div > svg {
  margin-left: auto;
  height: 35px;
  width: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.players-container > div > div > svg:hover {
  transform: rotate(180deg);
}

#overview-info {
  grid-area: overview-info;
  margin: 10px;
  padding: 10px;
  background-color: rgb(21, 23, 24);
  border-radius: 5px;
}

#overview-info > div {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(15, 16, 17);
}

#overview-info > div > p:nth-child(1) {
  color: rgb(179, 179, 179);
}

#overview-console {
  grid-area: overview-console;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
}

#server-console > span {
  font-family: monospace;
}

.span-color-INFO {
  color: white;
}

.span-color-WARN {
  color: rgb(247, 247, 152);
}

.span-color-ERROR {
  color: rgb(241, 109, 109);
}

#overview-cpu {
  grid-area: overview-cpu;
}

#overview-ram {
  grid-area: overview-ram;
}

#overview-storage {
  grid-area: overview-storage;
}

.pc-usage {
  margin: 10px;
  background-color: rgb(21, 23, 24);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.pc-usage > div {
  margin: auto;
  width: fit-content;
  margin-top: 25px;
}

.pc-usage svg {
  width: 55px;
  height: auto;
}

.pc-usage > p {
  color: rgb(179, 179, 179);
}

/*-----------------------------*/
/*---------- players ----------*/
/*-----------------------------*/

main#server-players-page {
  padding: 20px;
  display: grid;
  min-height: calc(100vh - 16px - 62px);
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "online-players whitelisted-players"
    "opped-players all-players";
}

#std-menu > form > input:focus ~ div#player-search,
#player-search:hover:not(.hidden) {
  display: block !important;
}

#player-search {
  position: absolute;
  top: 53px;
  height: fit-content;
  width: 210px;
  background-color: rgb(21, 23, 24);
  border-radius: 5px;
  padding: 5px;
  display: none !important;
}

#player-search > div {
  width: 100%;
  display: flex;
  cursor: pointer;
}

#player-search > div:not(:first-child) {
  margin-top: 5px;
}

#player-search > div > img {
  border-radius: 5px;
  margin-right: 5px;
}

#player-search > div > div > p:nth-child(2) {
  color: white;
}

#selected-player-img {
  position: absolute;
  top: 26px;
  left: 185px;
  border-radius: 5px;
}
